<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      <%- include('../partials/allMesg') %>
      <div class="singleMesEmpty">Select a message to read it...</div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
